<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/signin']">
        <ion-icon slot="icon-only" name="log-in-outline"> </ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="photo">Photo</ion-button>
  <ion-button (click)="gallery">Gallery</ion-button>
</ion-content>
