<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Friends</ion-title>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="add-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/notification">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>
